.perfect-background {
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover;
}

.flags {
	position: absolute;
	right: 10px;
	top: 10px;
}

.flags > img {
	margin: 5px;
	width: 35px;
	cursor: pointer;
}

.reservation-box {
	background-color: #FFFFFF;
	border:2px;
	border-style: solid;
	border-color: #0078e7;
	width: 600px;
	padding: 10px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	font-family:FreeSans,Arimo,Helvetica,Arial,sans-serif;
	margin: auto;
	box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
	-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
	-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}

.form-box {
	height: 620px;
}

.fail-box {
	height: 210px;
}

.success-box {
	height: 260px;
}

.reservation-header {
	text-align: center; 
	font-family:sans-serif; 
	display:block; 
	text-transuppercase;
}

.bold {
	font-weight: bold;
}

.button-float {
	float: right;
	margin-right: 20px;
}

.button-float-left {
	float: left;
	margin-left: 20px;
}

.form-style {
	color:#34495e;
	font-family:sans-serif;
}

.text-resize {
	resize: none
}